.dashboard-container {
  min-height: 100vh;
  background: radial-gradient(
    circle at top,
    #111827,
    #020617
  );
  color: #e5e7eb;
  padding: 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header button {
  background: transparent;
  border: 1px solid #22d3ee;
  color: #22d3ee;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.cards {
  margin-top: 80px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.card {
  width: 280px;
  padding: 40px 30px;
  border-radius: 20px;
  background: #0f172a;
  cursor: pointer;
  text-align: center;

  box-shadow:
    0 0 0 1px rgba(34, 211, 238, 0.15),
    0 0 25px rgba(34, 211, 238, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow:
    0 0 0 1px rgba(34, 211, 238, 0.3),
    0 0 40px rgba(34, 211, 238, 0.35);
}

.card h2 {
  margin-bottom: 10px;
}
